*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrapper--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0;
}
.navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
